<div [ngClass]="alerta" class="alert" role="alert">
  A simple primary alert—check it out!
</div>
<button type="button" class="btn btn-info" (click)="alerta = 'alert-info'">Info</button>
<button type="button" class="btn btn-warning" (click)="alerta = 'alert-warning'">Success</button>

<hr>
<h3 [ngClass]=" { 'text-danger': propiedades.danger, 'text-success': !propiedades.danger } ">Hola mundo
</h3>

<button (click)="propiedades.danger = !propiedades.danger" type="button" name="button" class="btn btn-danger"
  [ngClass]="{ 'btn-danger': propiedades.danger, 'btn-success': !propiedades.danger }">
  Cambiar
</button>

<br>
<h3>

</h3>
